# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Отладка / IDE
.idea/
.vscode/
*.swp
.DS_Store

# Локальные файлы
*.log
.env

# Данные приложения (JSON-хранилище)
data/
